DATABASE_URL="postgresql://postgres.gclzstgdcguzocxxgkdv:[YOUR-PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="your-secret-key-here"
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
